asn1crypto
blinker
certifi
chardet
cryptography
enum34
idna
ipaddress
keyring
keyrings.alt
oauthlib
pycrypto
pygobject
PyJWT
pyOpenSSL
PySocks
pyxdg
requests
requests-oauthlib
SecretStorage
six
tweepy
urllib3